html, body {margin:0;padding:0;height:100%;}

ul.invisible {

    height: 0px;
    overflow: hidden;
    -webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;

}

#burger {

    height: 50px; 
	width: 50px;
	position: absolute;
	top: 11px; 
	left: 21px;
	cursor: pointer;
    z-index: 2;

}

div.x, div.y, div.z {
	position: absolute; 
    margin: auto;
	top: 0px; 
    bottom: 0px;		
	background: #000;
	border-radius:2px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	}		

div.x, div.y, div.z { 
    height: 3px; width: 26px;
}

div.y{top: 18px;}
	
div.z{top: 37px;}

.collapse{
    top: 20px;
		-webkit-transition: all 70ms ease-out;
		   -moz-transition: all 70ms ease-out;
		    -ms-transition: all 70ms ease-out;
		     -o-transition: all 70ms ease-out;
		        transition: all 70ms ease-out;
                

}

div.rotate30{
    -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);	
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;	
}

#nav-bar {

    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 100%;
    top: 0;
    position: absolute;
    transition: width 300ms;
    box-shadow: 7px 12px gray;
    border-right: 1px solid black;
    z-index: 1;
    background-color: white;
    

}

a.navItem {

    display: block;
    overflow: hidden;
    margin-top: 70px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-decoration: none;
    color: #000;
    position: relative;

}

.product-list {

    height: 70px;
    overflow: hidden;
    -webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;

}

.product-item {

    text-decoration: none;
    color: #000;
    position: relative;
    padding: 4px;

}
