html {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5c5c5c;
    background-color: #EFEFEF;
    width: 100%;

}

#pageContainer {

    position: relative;
    min-height: 100vh;

}

#content-wrap {

    padding-bottom: 30em;
    text-align: center;

}

#main {

    padding-top: 5em;
    width: 100%;

}

.content {

    width: 90%;
    padding: 50px 0px 50px 0px;
    margin: 20px auto 20px auto;
    background-color: white;

}

.desktopNav {

    visibility: hidden;

}


#footer {

    position: absolute;
    width: 100%;
    height: 8em;
    bottom: 0px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0 10px 0;

}

#footer-text {

    color: white;
    padding-top: 3em;

}

p {

    line-height: 25px;
    display: block;
    padding: 2em;

    
}

.dark {

    color: #5c5c5c;

}

.quote {

    line-height: 25px;
    width: 75%;
    display: block;
    text-indent: 50px;
    font-size: 1em;
    padding: 3em 0 0 3em;

}

.quote-footer {

    line-height: 10px;
    display: block;
    text-indent: 50px;
    padding: 1em 0px 0px 0px;
    font-size: 1em;
    color: #808080;

}

h1 {

    font-size: 2em;

}

h2 {

    font-size: 1.4em;

}

h3 {
    font-size: 0.7em;
    padding: 10px;
}

#icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
    padding: 10px;
}

.products {

    width: 100%;
    height: 125em;
    display: block;

}

.productCard1 {

    width: 100%;
    float: left;
    background-color: #7c677f;
    height: 16%;
    transition: 0.6s ease all 0.0s;
    padding: 10px 0px 10px 0;
    margin: 10px 0 10px 0;

}


.productCard2 {

    width: 100%;
    float: right;
    background-color: #6A8067;
    height: 16%;
    transition: 0.6s ease all 0.0s;
    padding: 10px 0px 10px 0;
    margin: 10px 0 10px 0;

}

.productCard1 h2, p {

    color: white;

}
.productCard2 h2, p {

    color: white;

}

.fa {

  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 0px 10px 0px 10px;

}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-envelope {
    background: white;
    color: #000000;
}

#landingBanner {

    width: 90%;
    height: 65vh;
    position: relative;
    margin: 20px;
    display: inline-block;
}

#bannerImage {

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    position: absolute;

}

#bannerText {

    bottom: 0;
    padding-bottom: 2%;
    width: 100%;
    height: 30%;
    background-color: black;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
    transition: 0.9s ease all 0.0s;

}

#bannerText h1 {

    font-size: 1.3em;
    padding: 1em;
    color: white;

}

.col {

    float: left;
    margin: 2.5%;
    width: 20%;
    background-color: black;
    color: white;
    height: 10em;

}

.row:after {

    content: "";
    display: table;
    clear: both;
    text-align: center;

}

.product-photo-container {

    width: 25%;
    display: inline-block;
    margin: 25px;
    margin-top: 50px;
    overflow: hidden;

}

.product-photo {

    width: 100%;

}

.product-photo-container:hover .product-photo {

    opacity: 0.3;
    transition: 300ms all;

}

.product-photo-container:hover .middle {

    opacity: 1;
    transition: 300ms all;

}

.middle {

    opacity: 0;
    position: relative;
    transform: translateY(-1000%);

}

.product-text {

    text-decoration: none;
    color: black;
    font-size: 2em;

}

.product-card-sm {

    display: inline-block;
    width: 35%;
    min-height: 100%;
    margin: 5%;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    overflow: hidden;

}

.product-card-sm a {

    text-align: center;
    text-decoration: none;
    color: black;

}

.pricing {

    color: #888888;
    font-size: 0.7em;
    padding: 0px;
    margin: 0px;

}

@media only screen and (min-width: 992px) {

    #main {

        padding-top: 100px;

    }

    .product-card-sm {

        display: inline-block;
        width: 20%;
        min-height: 50%;
        margin: 5%;
        font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;
    
    }
    
    .product-card-sm a {
    
        text-align: center;
        text-decoration: none;
        color: black;
    
    }

    h3 {
        font-size: 1em;
    }

    #icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 6em;
        padding: 1em;
    }

    .products {

        width: 100%;
        height: 50em;
        display: block;
    
    }





    .lavender {

        background-color: #7c677f;
        color: black;
        font-size: 1.5em;
        padding-top: 20px;
        
    }

    .green {

        background-color: #6A8067;
        color: black;
        font-size: 1.5em;
        padding-top: 20px;

    }
    
    .productCard1 {
    
        width: 50em;
        float: left;
        background-color: #7c677f;
        height: 20em;
        transition: 0.4s ease all 0.0s;
        padding: 10px 0px 10px 0;
        margin: 15px 0 15px 0;
    
    }
    
    .productCard2 {
    
        width: 50em;
        float: right;
        background-color: #6A8067;
        height: 20em;
        transition: 0.4s ease all 0.0s;
        padding: 10px 0px 10px 0;
        margin: 15px 0 15px 0;
    
    }
    
    .productCard1 h2, p {
    
        color: white;
    
    }
    .productCard2 h2, p {
    
        color: white;
    
    }

    #bannerText {

        bottom: 0;
        padding: 0;
        width: 100%;
        height: 20%;
        background-color: black;
        position: absolute;
        opacity: 0.8;
        z-index: 1;
        transition: 0.9s ease all 0.0s;
    
    }

    .col {

        float: left;
        margin: 2.5%;
        width: 20%;
        background-color: black;
        color: white;
        height: 300px;
    
    }

    .content {

        padding: 50px 10px 100px 10px;
        width: 65%;
    
    }

    p {

        padding: 3em;
    
        
    }

}
